SHOPIFY_API_KEY=FROM_SHOPIFY_PARTNER_ACCOUNT
SHOPIFY_API_SECRET=FROM_SHOPIFY_PARTNER_ACCOUNT
SCOPES=write_products
HOST=FROM_DIGITAL_OCEAN_APP_URL
type=FROM_FIREBASE_SERVICE_ACCOUNT
project_id=FROM_FIREBASE_SERVICE_ACCOUNT
private_key_id=FROM_FIREBASE_SERVICE_ACCOUNT
private_key=FROM_FIREBASE_SERVICE_ACCOUNT
client_email=FROM_FIREBASE_SERVICE_ACCOUNT
client_id=FROM_FIREBASE_SERVICE_ACCOUNT
auth_uri=FROM_FIREBASE_SERVICE_ACCOUNT
token_uri=FROM_FIREBASE_SERVICE_ACCOUNT
auth_provider_x509_cert_url=FROM_FIREBASE_SERVICE_ACCOUNT
client_x509_cert_url=FROM_FIREBASE_SERVICE_ACCOUNT
universe_domain=FROM_FIREBASE_SERVICE_ACCOUNT
